body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#login-screen, #chat-screen {
    width: 300px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
}

#login-screen h2, #chat-screen #user-info {
    margin-bottom: 20px;
}

#messages {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

#messages div {
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#messages .self {
    background-color: #dcf8c6;
    align-self: flex-end;
}

#messages .other {
    background-color: #ebebeb;
    align-self: flex-start;
}

#error-msg {
    color: red;
}
